<div class="container mt-4 w-25">
  <div class="card">
    <div class="login-form mx-4 my-4">
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <h2 class="text-center">Sign in</h2>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Username"            
            required
            [(ngModel)]="model.username"            
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"            
            required
            [(ngModel)]="model.password"            
          />
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block">
            Sign in
          </button>
        </div>
        <div class="clearfix">
          <label class="float-middle form-check-label"
            ><input type="checkbox" /> Remember Me</label
          >          
        </div>
      </form>
    </div>
  </div>
</div>
