<div class="container mt-4">
  <h4>Upload the balance sheets</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="card mt-4">
        <div class="mx-4 my-4">
          <form #editForm="ngForm" id="editForm" class="form-group" (submit)="saveFile()">
            <label class="control-label" style="margin-right: 10px;">Account Year:
            </label>
            <select name="year" class="form-control" [(ngModel)]="accountPeriod.year">
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
              <option value="2027">2027</option>
              <option value="2028">2028</option>
              <option value="2029">2029</option>
              <option value="2030">2030</option>
            </select>

            <label class="control-label" style="margin-right: 10px;">Account Month:
            </label>
            <select name="month" class="form-control" [(ngModel)]="accountPeriod.month">
              <option [value]=1>January</option>
              <option [value]=2>February</option>
              <option [value]=3>March</option>
              <option [value]=4>April</option>
              <option [value]=5>May</option>
              <option [value]=6>June</option>
              <option [value]=7>July</option>
              <option [value]=8>August</option>
              <option [value]=9>September</option>
              <option [value]=10>October</option>
              <option [value]=11>November</option>
              <option [value]=12>December</option>
            </select>
            <input type="file" class="form-control my-4" (change)="onFileChange($event)" />
            <button type="submit" class="btn btn-success form-control" [disabled]="!isValidFile">
              <span class="fa fa-upload"></span> Upload
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card mt-4">
        <div class="mx-4 my-4">
          
          <table class="table">
            <tr>
              <th>R&D</th>
              <th>Canteen</th>
              <th>CEO's car</th>
              <th>Marketing</th>
              <th>Parking fines</th>
            </tr>
            <tr *ngIf="balanceSheet.rAndD">
              <td>Rs. {{ balanceSheet.rAndD|number }} /=</td>
              <td>Rs. {{ balanceSheet.canteen|number }} /=</td>
              <td>Rs. {{ balanceSheet.ceoCar|number }} /=</td>
              <td>Rs. {{ balanceSheet.marketing|number }} /=</td>
              <td>Rs. {{ balanceSheet.parkingFines|number }} /=</td>
            </tr>
            <tr *ngIf="!balanceSheet.rAndD">Select a file to preview</tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>