<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand">Jondell Corp </a>
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *appHasRole="['Admin']" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" *appHasRole="['Admin']" [routerLink]="['/upload']">Upload Files</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" *appHasRole="['User']" [routerLink]="['/balance']">View Balance</a>
      </li>      
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light " dropdownToggle>
        Welcome {{ getUsername() | titlecase }}!
      </a>
      <ul id="dropdown-basic mt-4" *dropdownMenu class="dropdown-menu" aria-labelledby="button-basic">
        <li role="menuitem" *appHasRole="['Admin']"><a class="dropdown-item" [routerLink]="['/register']"><i
              class="fa fa-user"></i> Add Users</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>