<div class="container mt-4">
  <div class="row">
    <!-- Filter -->
    <div class="col-md-3 h-100">
      <div class="container">
        <div class="card mt-1">
          <div class="mx-1 my-4 px-3">
            <h5>Select account period</h5>
            <form #search="ngForm" class="form-group" (ngSubmit)="getReport()">
              <label>Start Year</label>
              <select name="startYear" class="form-control mb-2" [(ngModel)]="filterOptions.startYear"
                (change)="getStartMonthList($event.target.value)">
                <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
              </select>
              <label class="control-label">Start Month</label>
              <select  name="startMonth" class="form-control" [(ngModel)]="filterOptions.startMonth">
                <option *ngFor="let month of startMonthtList" [ngValue]="month.id">{{month.monthName}}</option>
              </select>
              
              <br>
              <label>End Year</label>
              <select name="EndYear" class="form-control mb-2" [(ngModel)]="filterOptions.endYear"
                (change)="getEndtMonthList($event.target.value)">
                <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
              </select>
              <label class="control-label">End Month</label>
              <select name="EndMonth" class="form-control" [(ngModel)]="filterOptions.endMonth">
                <option *ngFor="let month of endMonthtList" [ngValue]="month.id">{{month.monthName}}</option>
              </select>
              <div class="container my-4">
                <label class="checkbox-inline">
                  <input [(ngModel)]="filterOptions.randD" type="checkbox" name="r&d"> R&D
                </label><br>
                <label class="checkbox-inline">
                  <input [(ngModel)]="filterOptions.canteen" type="checkbox" name="r&d"> Canteen
                </label><br>
                <label class="checkbox-inline">
                  <input [(ngModel)]="filterOptions.ceoCar" type="checkbox" name="r&d"> CEO's car
                </label><br>
                <label class="checkbox-inline">
                  <input [(ngModel)]="filterOptions.marketing" type="checkbox" name="r&d"> Marketing
                </label><br>
                <label class="checkbox-inline">
                  <input [(ngModel)]="filterOptions.parkingFines" type="checkbox" name="r&d"> Parking fines
                </label>
              </div>

              <button class="btn btn-success btn-s form-control " type="submit" [disabled]="filterOptions == undefined">
                <span class="fa fa-filter mr-2"></span> Filter
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Graph view -->
    <div class="col-md-9">
      <div class="container">
        <div class="card mt-1">
          <div class="mx-1 my-3 px-2">
            <h4 class="ml-4 mt-2 mb-4">Account balance varience for the period</h4>
            <div style="display: block">
              <canvas baseChart [chartType]="lineChartType" [datasets]="lineChartDatasets" [labels]="lineChartLabels"
                [colors]="lineChartColors" [options]="chartOptions" [legend]="true">
              </canvas>
            </div>
            <h4 class="ml-4 mt-4 mb-4">Account balance for end of the period</h4>
            <div style="display: block">
              <canvas baseChart [chartType]="barChartType" [datasets]="barChartDatasets" [labels]="barChartLabels"
                [colors]="barChartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)" 
                >
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>